<!-- Hero -->
<section
  class="relative before:absolute before:inset-0 before:h-80 before:pointer-events-none before:bg-gradient-to-b before:from-zinc-100 before:-z-10"
>
  <div class="pt-32 pb-12 md:pt-40 md:pb-20">
    <!-- Section content -->
    <div class="px-4 sm:px-6">
      <div class="max-w-3xl mx-auto">
        <div class="text-center pb-12 md:pb-16">
          <h1
            class="font-inter-tight text-4xl md:text-5xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-zinc-900/[0.5] from-20% to-zinc-900 to-50%">
            {{ hero.title }}
          </h1>
          <p class="text-lg text-zinc-500 mb-8">
            {{ hero.description }}
          </p>
          <div
            class="max-w-xs mx-auto sm:max-w-none sm:inline-flex sm:justify-center space-y-4 sm:space-y-0 sm:space-x-4"
          >
            <div>
              <a
                class="btn text-zinc-100 bg-zinc-900 hover:bg-zinc-800 w-full shadow"
                href="{{ hero.ctalink }}"
                >{{ hero.ctatext }}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
