<div class="max-w-3xl mx-auto text-center pb-12">
    <h2 class="font-inter-tight text-3xl md:text-4xl font-bold text-zinc-900 mb-4">{{ whoweare.title }}</h2>
    <p class="text-lg text-zinc-500">{{ whoweare.description }}</p>
</div>